
/* body padding to compensate for sticky nav */
body {
  padding-top: 60px;
}

#zip-form, .zip-btn {
  width: 200px;
}

#zip-form {
  margin-bottom: 15px;
}

.profile-name {
  margin-bottom: 15px;
}

.top-artists-list {
  padding-left: 15px;
}

.concert-list {
  margin-top: 15px;
}
