
/* body padding to compensate for sticky nav */
body {
  padding-top: 60px;
}

#zip-form, .zip-btn, .zip-validation-error {
  width: 200px;
}

#zip-form {
  margin-bottom: 5px;
}

.profile-name {
  margin-bottom: 15px;
}

.top-artists-list {
  padding-left: 15px;
}

.concert-list {
  margin-top: 15px;
}

.zip-validation-error {
  color: red;
  margin-bottom: 10px;
}
