/* GLOBAL */


/* body padding to compensate for sticky navs */

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.body {
  background-color: #222222;
}

.navbar-inverse .navbar-brand {
  color: #A9C8E9;
}

.navbar-inverse .navbar-brand:hover {
  color: #FFFFFB;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
  color: #A9C8E9;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #FFFFFB;
  background-color: transparent;
}

.btn-primary {
  color: #222222;
  background-color: #A9C8E9;
  border-color: #A9C8E9;
}

.btn-primary:hover {
  color: #FFFFFB;
  background-color: #48649F;
  border-color: #48649F;
}

.btn {
  transition: all 0.3s ease 0s;
}


/* LOGIN SECTION */

.login-wrapper {
  padding: 0;
  width: 100%;
}

.jumbotron {
  background-color: #e5ebf2;
  background-image: url("../img/crowd-blue-web.jpg");
  background-size: cover;
  height: 500px;
  padding-top: 40px;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
}

.container .jumbotron {
  border-radius: 0;
}

.shiny-btn-section {
  padding: 0;
  color: black;
}

.shiny-btn-section p {
  margin-bottom: 12px;
}


/* ZIP SECTION */

.zip-section img {
  margin-top: 20px;
}

.zip-section h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.zip-section p {
  margin-bottom: 20px;
}

.zip-top-20 {
  margin-top: 30px;
  padding: 15px 0;
  border-radius: 6px;
  background-color: #222222;
  color: #A9C8E9
}

.zip-top-20 h3 {
  color: #fffffb
}

.zip-top-20 ul {
  margin: 20px 0;
}

.zip-validation-error {
  color: red;
  margin-bottom: 10px;
}

#zip-form, .zip-btn, .zip-validation-error {
  width: 200px;
}

#zip-form {
  margin-bottom: 5px;
}


/* MAIN SECTION */

.select-section h4 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.local-concerts {
  margin-top: 30px;
}

.main-img {
  margin-top: 25px;
}

.profile-name {
  margin-bottom: 15px;
}

.concert-list {
  margin-top: 15px;
}

footer {
  padding: 10px 0;
  background-color: #D0DCE8;
}

footer p {
  margin: 0;
  padding: 0;
}

footer a {
  color: inherit;
}

footer a:hover {
  text-decoration: none;
  color: #48649F;
}


/* MEDIA QUERIES */

@media (max-width: 991px) {
  .container {
    width: 100%;
  }
  .jumbotron h1 {
    font-size: 50px;
  }
}

@media (max-width: 611px) {
  .jumbotron {
    padding-top: 15px;
    height: 400px;
  }
  .jumbotron p {
    margin-top: 180px;
    color: white;
  }
}
