<div class="container">

  <!-- ZIP CODE ENTRY -->
  <!-- display if no zip code found -->
  <div ng-if="!currentUser.zip">

    <h3>Almost there!</h3>

    <form class="form-horizontal">

      <div class="form-group">
        <div class="col-sm-6">
          <p>
            Great, you've logged in to your Spotify account and we've grabbed
            your favorite artists. Now we just need to get your zip code and
            we can check for local shows!
          </p>
        </div>

        <div class="col-sm-4 col-sm-offset-2">
          <label for="zip-form" class="sr-only">Enter zip code</label>
          <input ng-model="zip" type="text" class="form-control" id="zip-form"
                 placeholder="Enter zip code">
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <button ng-click="addZip(currentUser._id, zip)" type="submit"
                  class="btn btn-primary zip-btn">Check for shows!</button>
        </div>
      </div>
    </form>

    <div>
      <h3>Your top 20 artists:</h3>
      <ul class="list-inline">
        <li ng-repeat="artist in currentUser.topArtists">
          {{ artist }}
        </li>
      </ul>
    </div>

  </div>
  <!-- end ZIP CODE ENTRY -->

  <!-- MAIN SECTION -->
  <!-- display zip code found -->
  <div ng-if="currentUser.zip" class="row">

    <div class="col-md-3">
      <h3>Profile</h3>
      <hr>
      <h4 class="profile-name">{{ currentUser.name }}
        <small> {{ currentUser.spotifyId }}</small>
      </h4>
      <h4>Top Artists</h4>
      <ul class="list-unstyled top-artists-list">
        <li ng-repeat="artist in currentUser.topArtists">
          {{ artist }}
        </li>
      </ul>
    </div>

    <div class="col-sm-9">
      <h3>Local Concerts</h3>
      <hr>
      <p>
        Here is a list of concerts within 50 miles of {{ currentUser.zip }}.
      </p>
      <ul ng-repeat="concert in currentUser.localConcerts | orderBy: 'date'"
          class="list-unstyled concert-list">
        <li>
          <p class="lead">
            {{ concert.date | date }} - {{ concert.artist }} at
            <a
              ng-href="concert.venueURL">{{ concert.venue }}
            </a>
          </p>
        </li>
      </ul>
    </div>
    
  </div>
  <!-- end MAIN SECTION -->

</div>
