<div class="container">

  <!-- ZIP CODE ENTRY -->
  <!-- display if no zip code found -->
  <div ng-if="!currentUser.zip">

    <h3>Almost there!</h3>

    <form name="form" class="form-horizontal">

      <div class="form-group">

        <div class="col-sm-6">
          <p>
            Great, you've logged in to your Spotify account and we've grabbed your favorite artists. Now we just need to get your zip code and we can check for local shows!
          </p>
        </div>

        <div class="col-sm-4 col-sm-offset-2">
          <label for="zip-form" class="sr-only">Enter zip code</label>
          <input ng-model="zip" type="text" class="form-control" name="zip" id="zip-form" placeholder="Enter zip code" ng-pattern="/(\d{5}([-]\d{4})?)/" required="">
          <div class="zip-validation-error" ng-show="form.zip.$dirty && form.zip.$invalid">
            <span>Valid zip code required</span>
          </div>
          <button ng-click="addZip(currentUser._id, zip)" type="submit" class="btn btn-primary zip-btn">Check for shows!
          </button>
        </div>

      </div>

    </form>

    <div>
      <h3>Your top 20 artists:</h3>
      <ul class="list-inline">
        <li ng-repeat="artist in currentUser.topArtists">
          {{ artist }}
        </li>
      </ul>
    </div>

  </div>
  <!-- end ZIP CODE ENTRY -->

  <!-- MAIN SECTION -->
  <!-- display zip code found -->
  <div ng-if="currentUser.zip" class="row">

    <div class="col-md-3">
      <h3>Profile</h3>
      <hr>
      <h4 class="profile-name">{{ currentUser.name }}
        <small> {{ currentUser.spotifyId }}</small>
      </h4>
      <h4>Top Artists</h4>
      <ul class="list-unstyled top-artists-list">
        <li ng-repeat="artist in currentUser.topArtists">
          <button ng-click="getLocalConcerts(artist, currentUser.zip)">{{ artist }}</button>
        </li>
      </ul>
    </div>

    <div class="col-sm-9">
      <h3>Local Concerts</h3>
      <hr>

      <div ng-hide="localConcerts">
        <p>
          Sorry, no concerts found.
        </p>
      </div>

      <div ng-show="localConcerts">
        <p>
          Here is a list of concerts within 50 miles of {{ currentUser.zip }}.
        </p>
        <ul ng-repeat="concert in localConcerts | orderBy: 'date'" class="list-unstyled concert-list">
          <li>
            <p class="lead">
              {{ concert.date | date }} - {{ concert.name }} at
              <a ng-href="concert.venueURL">{{ concert.venue }}
              </a>
            </p>
          </li>
        </ul>
      </div>

    </div>

  </div>
  <!-- end MAIN SECTION -->

</div>
