<div class="container">
  <div class="jumbotron">
    <h1>Welcome to liveTracker!</h1>
    <p>
      Find local shows by your top 20 Spotify artists.
    </p>
    <p>
      To get started, enter your zip code then click this big shiny button.
    </p>
    <form class="form-inline">
      <div class="form-group">
        <input ng-model="zip" type="text" class="form-control" placeholder="Zip code">
      </div>
      <button ng-click="loginAndStoreZip(zip)" type="submit" class="btn btn-primary btn-lg">Shiny Button!</button>
    </form>
  </div>
</div>
